header {
    background-image: linear-gradient(#762294bd, #0e3d2d);
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;

}

nav {
    /*Posibilita a movimentção do elemento que estao nessa tag*/
    position: absolute;
    top: 100px;
    right: 0;
}


nav li {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 0 25px;
}

nav a {
    /* Retirando decorações padrões do navegador */
    list-style: none;
    text-decoration: none;

    /* cor */
    color: aliceblue;
    ;

    /* Modificando elementos */
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: overline;


    /* Posicionamento */
}

nav a:hover {
    color: #45e9b2bb;
    text-decoration: underline;
}

/* main {
    background-image: url("assets/cachorro-feliz-capa.jpg");
    background-repeat: no-repeat;
    height: 940px;
    
} */
.servicos-conteiner {
    width: 940px;
    margin: 10rem auto;

}

.servicos-conteiner li {
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 1.5px;
    color: #0e3d2d;
    border: #0e3d2d solid 1px;
    border-radius: 20px;
}

.servicos-conteiner li:hover {
    border-color: #45e9b2bb;
}

.servicos-conteiner h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.servicos-conteiner li:hover h2 {
    color: #45e9b2bb;
}

.servicos-conteiner .img-servico {
    width: 250px;
    border-radius: 5px;
}

.servicos-conteiner .decricao {
    font-size: 20px;
    margin-bottom: 5px;
}

.servicos-conteiner .preco {
    font-size: 25px;
}

footer{
    background-color: #0e3d2d;
    padding-bottom: 100%;
    text-align: center;
}

.img-footer{
    width: 20%;
}
