.titulo-principal{
  background-image: linear-gradient(#ee3636, #1b1b1a);
  text-align: center;
  padding: 35px;
}

.destaque {
  width: 100%;
}
#main {
  background-image: linear-gradient(#ee3636, #1b1b1a);
  text-align: center;
  padding: 35px;
}

& #feedback {
  /* Tamanho da fonte */
  font-size: 20px;
  p {
    /* Alinha texto ao centro */
    text-align: center;
  }
  &strong {
    & em {
      /* Dar cor no texto */
      color: rgba(235, 6, 6, 0.976);
    }
  }
}
#diferencial {
  background: #ffffff;

  & .lista-diferencial {
    border: 1px solid red;
    display: inline-block;
     /*Redus o bloco da lista em 50% da tela*/

    vertical-align: top;
    /*Alinha os elemntos na verticao no topo da lista*/
    margin-right: 15%;
    width: 20%;
  }
  & .itens {
    font-size: 20px;
    /* Estiliza o texto para itálico */
    font-style: italic;
    /* Estilo de lista sem estilo */
    list-style: none;
    /* Largura de 20% */
    width: 50%;
    margin-right: 15%;
  }

  & .img-diferencial {
    display: inline-block;
    vertical-align: top;
  }
}
